[submodule "TerraAngelSetup/DotnetPatcher"]
	path = TerraAngelSetup/DotnetPatcher
	url = https://github.com/UnrealMultiple/DotnetPatcher.git
	branch = master
[submodule "TNA"]
	path = TNA
	url = https://github.com/UnrealMultiple/TNA.git
	branch = v2
[submodule "TrProtocol"]
	path = TrProtocol
	url = https://github.com/UnrealMultiple/TrProtocol.git
