[submodule "TerraAngelSetup/DotnetPatcher"]
	path = TerraAngelSetup/DotnetPatcher
	url = https://github.com/UnrealMultiple/DotnetPatcher.git
	branch = master
[submodule "ImGui.NET"]
	path = ImGui.NET
	url = https://github.com/CEO-Chair/ImGui.NET.git
[submodule "CSharpEval"]
	path = CSharpEval
	url = https://github.com/CEO-Chair/CSharpEval.git
[submodule "TNA"]
	path = TNA
	url = https://github.com/UnrealMultiple/TNA.git
	branch = v2
